.contact_header {
  padding-top: 5rem;
  text-align: center;
  line-height: normal;
  color: var(--color-d);
  font-size: var(--fs-xl);
  font-family: var(--ff-peo-h1);
}

.contact_wrapper {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content_container {
  width: min(1000px, 85%); /*260 1000*/
  max-width: 1000px;
}

.content {
  padding-top: 1rem;
  font-family: var(--ff-peo-body);
}
.content_title {
  padding-bottom: .5rem;
  font-size: var(--fs-h3);
}
.content_text {
  color: var(--color-body);
  font-size: var(--fs-body);
}


