.landing-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 2rem;
  /*background-image: url('../images/image3.jpg');
  background-size: cover;
   -webkit-text-stroke: 1px #dd7a91;   width and color */
}

.landing-main-title {
  padding-bottom: 2rem;
  padding-left: 8rem;
}
.landing-main-header {
  margin-bottom: 2rem;
  flex-grow: 1;
  color: #fda1b7;
  font-size: 8rem;
  line-height: 7rem;
}

.landing-main-gallery {
  flex-grow: 1;
  min-height: 100svh;
  min-width: 100svh;
  background-image: url('../images/image3.jpg');
  background-size: cover;
  background-position: right;
}
.flex-blur {
  display: flex;
}
.blur {
  height: 100vh;
  width: 20px;
  opacity: 90%;
  background-color: #fdf9fa;
}
.blur2 {
  height: 100vh;
  width: 40px;
  opacity: 60%;
  background-color: #fdf9fa;
}
.blur3 {
  height: 100vh;
  width: 60px;
  opacity: 30%;
  background-color: #fdf9fa;
}
.blur, .blur2, .blur3 {
  transition: .2s;
}


.blur:hover {
  opacity: 95%;
  transition: .2s;
}
.blur2:hover {
  opacity: 70%;
  transition: .2s;
}
.blur3:hover {
  opacity: 40%;
  transition: .2s;
}

.bg-light {
  background-color: #fdf9fa;
}