.body_wrapper {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  --switch-wTime: .4s;
  --switch-wTimeDelay1: .5s;
  --switch-wTimeDelay2: .6s;
  --switch-hTime: .1s;
  --switch-hTimeDelay1: .2s;
  --switch-hTimeDelay2: .3s;
}

.body_main {
  flex-grow: 1;

  margin-top: 3rem;
  display: flex;
  flex-direction: row;

  background-image: url('../images/image3.jpg');
  background-position: right top;
  background-size: cover;
}

.main_container { 
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;

  width: 42%;
  min-width: min-content;
  background-color: rgba(255, 255, 255, 1);
}

.main_items {
  padding: 1rem;
  padding-top: 1.5rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}

.title_container {
  line-height: normal;
  padding-bottom: .5rem;
}
.title{
  margin-left: auto;
  margin-right: 1rem;
  max-width: 705px;
  font-family: var(--ff-peo-title);
  font-size: var(--fs-xl);
  color: #f76c8d;
}
.linkgroup_container {
  width: 100%;
}

.main_small_bar {
  transition: var(--switch-hTime);
  width: 1vw;
  opacity: 80%;
  background-color: white;
}
.main_medium_bar {
  transition: var(--switch-hTimeDelay1);
  width: 2vw;
  opacity: 50%;
  background-color: white;
}
.main_large_bar {
  transition: var(--switch-hTimeDelay2);
  width: 3vw;
  opacity: 20%;
  background-color: white;
}

.body_content {
  background-color: rgb(253, 249, 249);
}
.divider {
  padding: 5px;
  background-color: var(--color-b);
}

.event_container {
  margin: auto;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 150rem;

  box-shadow: 0px 0px 2px #E4E4E4;
  background-color: white;
}
.event_header {
  padding-bottom: 1rem;
  color: var(--color-d);
  font-family: var(--ff-peo-body);
  font-size: var(--fs-h2);
}
.event_items {
  padding: .5rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 1.5rem;
  scrollbar-color: var(--color-d) var(--color-a);
}

@media (width > 2500px) {
  .event_items {
    scrollbar-width: thin;
  }
}

@media (width < 1500px) {
  .body_main {
    justify-content: end;
    flex-direction: column-reverse;
    background-position: 55% 100%;
  }
  .main_container { 
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
  }
  .title {
    margin: auto;
  }

  .event_container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .main_small_bar {
    transition: var(--switch-wTime);
    height: .5vh;
    width: 100%;
  }
  .main_medium_bar {
    transition: var(--switch-wTimeDelay1);
    height: 1vh;
    width: 100%;
  }
  .main_large_bar {
    transition: var(--switch-wTimeDelay2);
    height: 2vh;
    width: 100%;
  }
}

/*765*/