.body_wrapper {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body_main {
  flex-grow: 1;

  margin-top: 3rem;
  display: flex;
  flex-direction: row;

  background-image: url('../images/image3.jpg');
  background-position: right top;
  background-size: cover;
}

.main_container { 
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;

  width: 42%;
  min-width: min-content;
  background-color: white;

  transition: .2s;
}
.main_items {
  margin-bottom: 2rem;
  margin-right: 1.5rem;
}
.main_small_bar {
  width: 1rem;
  opacity: 80%;
  background-color: white;
}
.main_medium_bar {
  width: 2rem;
  opacity: 50%;
  background-color: white;
}
.main_large_bar {
  width: 3rem;
  opacity: 20%;
  background-color: white;
}

.title{
  line-height: 7rem;
  color: #f76c8d;
}

.title_container {
  font-family: var(--ff-peo-title);
  font-size: var(--fs-xl);
}

.linkgroup_container {
  font-size: var(--fs-body);
}

.body_content {
  background-color: rgb(253, 249, 249);
}
.divider {
  padding: 5px;
  background-color: var(--color-b);
}

.event_container {
  margin: auto;
  margin-top: 1rem;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 150rem;

  box-shadow: 0px 0px 2px #E4E4E4;
  background-color: white;
}
.event_header {
  padding-bottom: 1rem;
  color: var(--color-d);
  font-family: var(--ff-peo-body);
  font-size: var(--fs-h2);
}
.event_items {
  padding: .5rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 1.5rem;

  
  scrollbar-color: var(--color-d) var(--color-a);
}

@media (width > 2500px) {
  .event_items {
    scrollbar-width: thin;
  }
}







@media (width < 1000px) {
  .main-container { 
    transition: .2s;
    background-color: rgba(255, 255, 255, 0.8)
  }
}