.page-title {
  text-align: center;
  font-size: 4.5rem;
}

.profile-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sheet-description {
  margin: auto;
  text-align: justify;
  width: 40rem;
}
.sheetcontent-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}