h2 {
  text-align: left;
  font-size: 1.5rem;
}

.group-container {
  background-color: white;
  padding: 2%;
}

.items-flex {
  display: flex;
  flex-direction: row;
  gap: 1vh;
  overflow: auto;
}

