.item-box {
  margin: 10px;
  margin-bottom: 15px;
  box-shadow: 0 1px 4px rgba(33,33,33,.2); 
  width: 250px;
  height: 350px;
  text-align: left;
  background-color: white;

  transition: .2s;
}
.item-box:hover {
  box-shadow: 0 3px 8px rgba(33,33,33,.2); 
}

.item-description {
  margin: 3%;
}
.item-title {
  font-size: .8rem;
}
.item-price {
  font-size: 1.1rem;
  font-family: 'LemonMilk';
  color: #FF9E00;
}
.item-rating {
  margin: 3%;
  font-family: 'LemonMilk';
  font-size: .6rem;
}


@media screen and (min-width <= 1024px) {
  .item-box {
    min-width: 150px;
    min-height: 200px;
  }
}