.footer {
  background-color: var(--color-b);
}

.footer_bar {
  padding: .3rem;
  width: 100%;
  background-color: var(--color-c);
}

.footer_text {
  padding-top: 2rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  
  text-align: right;
  color: var(--color-d);
  font-size: clamp(10px, calc(0.625rem + ((1vw - 7.68px) * 0.5208)), 16px);
}
