
.link_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: clamp(10px, calc(0.625rem + ((1vw - 7.68px) * 3.9931)), 56px);
}

.link_item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.link_item a {
  color: #F891A9;
  text-decoration: none;
}

.link_item_container {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: clamp(40px, 12vw - 50px, 60px);
  width: clamp(40px, 12vw - 50px, 60px);
  background-color: #F891A9;
}
.link_item_icon {
  transition: .3s;
  padding: .6rem;
}
.link_item_title {
  font-size: var(--fs-body);
  font-family: var(--ff-peo-body);
}

.link_item_container, .link_item_title {
  transition: .2s;
}
.link_item:hover .link_item_container {
  background-color: #E85174;
  transition: .3s;
}
.link_item:hover .link_item_title {
  color: #E85174;
  transition: .3s;
}

@media (width <= 1500px) {
  .link_items {
    transition: .3s;
  }
}
@media (width <= 560px) {
  .link_item_title {
    font-size: 1px;
    visibility: hidden;
  }
}
