.link_items {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: clamp(12px, calc(0.75rem + ((1vw - 3.4px) * 2.7848)), 56px);
  z-index: 1;
}

.link_item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.link_item a {
  color: var(--color-secondary-a);
  text-decoration: none;
}

.link_item_container {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: clamp(37px, calc(2.3125rem + ((1vw - 3.4px) * 2.2549)), 60px);
  width: clamp(37px, calc(2.3125rem + ((1vw - 3.4px) * 2.2549)), 60px);
  background-color: var(--color-primary-b);
}
.link_item_icon {
  transition: .3s;
  padding: .6rem;
}
.link_item_title {
  font-size: 1.1rem;
  font-family: var(--ff-peo-body);
}

.link_item_container, .link_item_title {
  transition: .2s;
  cursor: pointer;
}
.link_item:hover .link_item_container {  
  background-color: var(--color-secondary-a);
  transition: .3s;
}
.link_item:hover .link_item_title {
  color: var(--color-secondary-a);
  transition: .3s;
}

@media (width < 1360) {
}
@media (width <= 870px) {
  .link_item_container {
    background-color: var(--color-secondary-a);
  }
  .link_item_title {
    font-size: 1px;
    visibility: hidden;
  }
}

/*
  height: clamp(40px, 12vw - 50px, 60px);
  width: clamp(40px, 12vw - 50px, 60px); 
  
*/