.nav-button {
  top: 1.5rem;
  left: 2rem;
  position: fixed;
  font-size: var(--fs-l);
  z-index: 51;
  transition: .5s;
  cursor: pointer;
}
.nav-button-opened {
  color: var(--color-primary-c);
}
.nav-button-closed {
  color: var(--color-secondary-a);
}
.nav-blur {
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color: rgba(77, 2, 22, 0.231);
  z-index: 49;
  transition: .3s;
}
.nav-blur-closed {
  background-color: rgba(0, 0, 0, 0);
  transition: .3s;
}

.nav-container {
  border-right: 2px solid var(--color-primary-c);
  position: fixed;
  width: 300px;
  height: 100svh;
  background-color: var(--color-primary-b);
  transition: .3s;
  z-index: 50;
}
.nav-container-closed {
  transform: translate(-300px, 0px);
  transition: .3s;
}

/* Container bottom line 
.nav-container::after, .nav-container-closed::after {
  content: "";
  margin: auto;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 80%;
  height: 4px;
  background-color: var(--color-primary-a);
} */

.nav-list {
  margin-top: 13rem;
  padding-left: 2.5rem;
  font-size: var(--fs-h4);
  color: var(--color-primary-c);
}

.nav-list > * {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-primary-c);
}

.nav-list > *:hover::after {
  width: 13rem;
}

/* Divider below each item */
.nav-list > *::after {
  content: "";
  margin-top: .5rem;
  margin-bottom: 1.7rem;
  display: block;
  width: 11rem;
  height: 2px;
  background-color: var(--color-primary-c);
  transition: .3s;
}