.item_container {
  flex-shrink: 0;
  width: clamp(240px, calc(15rem + ((1vw - 7.8px) * 7.0175)), 320px);
  box-shadow: 0px 0px 4px #E4E4E4;
  background-color: white;
}

.item_image {
  object-fit: contain;
}

.item_text_container {
  padding: 1rem;
  font-family: var(--ff-peo-body);
}

.item_header {
  display: -webkit-box;
  height: 87px;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  overflow: hidden;
  line-height: normal;
  font-size: var(--fs-h3);
}
/*
.item_description {
  color: var(--color-f);
  background-color: lightblue;
  min-height: 192px;
  
  overflow: scroll;
  white-space: wrap;
  text-overflow: ellipsis;
} */

.item_button_container {
  margin-top: 1rem;
  width: 40%;
}
.item_button {
  padding: .3rem;
  border-radius: 3rem;

  color: white;
  background-color: var(--color-c);
  font-size: var(--fs-body);
  text-align: center;
  transition: .3s;
}
.item_button:hover {
  background-color: var(--color-d);
  transition: .3s;
}

.item_link {
  text-decoration: none;
}