@font-face{
    font-family: "Cocogoose";
    src:local("Cocogoose-Pro-Regular-trial"),
    url('./fonts/Cocogoose/Cocogoose-Pro-Regular-trial.ttf') 
}

@font-face{
    font-family: "InterBold";
    src:local("Inter-Bold"),
    url('./fonts/Inter/Inter-Bold.ttf') 
}

@font-face{
    font-family: "VisbyRoundRegular";
    src:local("VisbyRoundCF-Regular"),
    url('./fonts/VisbyRound/VisbyRoundCF-Regular.otf')
}

@font-face{
    font-family: "VisbyRoundHeavy";
    src:local("VisbyRoundCF-Heavy"),
    url('./fonts/VisbyRound/VisbyRoundCF-Heavy.otf')
}

@font-face{
    font-family: "VisbyRoundBold";
    src:local("VisbyRoundCF-Bold"),
    url('./fonts/VisbyRound/VisbyRoundCF-Bold.otf')
}

@font-face{
    font-family: "VisbyRoundExtraBold";
    src:local("VisbyRoundCF-ExtraBold"),
    url('./fonts/VisbyRound/VisbyRoundCF-ExtraBold.otf')
}

@font-face{
    font-family: "AntiPasto-Bold";
    src:local("AntipastoPro-Bold"),
    url('./fonts/AntiPasto/AntipastoPro-Bold.ttf')
}

@font-face{
    font-family: "AntiPasto-DemiBold";
    src:local("AntipastoPro-DemiBold"),
    url('./fonts/AntiPasto/AntipastoPro-DemiBold.ttf')
}

@font-face{
    font-family: "AntiPasto-Medium";
    src:local("AntipastoPro-Medium"),
    url('./fonts/AntiPasto/AntipastoPro-Medium.ttf')
}