#main-wrapper {
  --color-primary-a: #ffffff;
  --color-primary-b: #FCBACB;

  --color-a: #ffffff;
  --color-b: #FFE7EC;
  --color-c: #FCBACB;
  --color-d: #F891A9;
  --color-e: #F2708E;
  --color-f: #E85174;
  --color-g: #794853;
  --color-body: #521b27;
  --color-pagebg: #fdf7f7;

  --ff-title: 'AntiPasto-Bold';
  --ff-h1: 'VisbyRoundHeavy';
  --ff-body: 'VisbyRoundBold';
  
  --fs-xl: clamp(54.4px, calc(3.4rem + ((1vw - 7.68px) * 6.3889)), 128px);
  --fs-l: clamp(54.4px, calc(3.4rem + ((1vw - 7.8px) * 4)), 100px);
  --fs-h1: clamp(49px, calc(3.0625rem + ((1vw - 7.8px) * 1.8421)), 70px); 
  --fs-h2: clamp(24px, calc(1.5rem + ((1vw - 7.8px) * 1.4035)), 40px);
  --fs-h4: clamp(18px, calc(1.125rem + ((1vw - 7.68px) * 0.5208)), 24px);
  --fs-body: clamp(14px, calc(0.875rem + ((1vw - 7.68px) * 0.1736)), 16px);
}

body {
  background-color: rgb(228, 92, 92);
}

p {
  font-size: var(--fs-body);
}