/* 157CFF */
img {
  margin: auto;
  -webkit-user-drag: none;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.ad-images {
  background-color: #FFDCA2;
}

.wrapper {
  margin: 0 auto;
  width: 70vw;
  max-width: 1400px;
}

.group-layout {
  display: flex;
  flex-direction: column;
}

@media screen and (width <= 1024px) {
  .wrapper {
    width: 100%;
  }
}