.contactdetails-container {
  position: relative;
  max-width: 600px;
  min-width: 340px;
  z-index: 2;
}
.contactdetails-container > p {
  margin-bottom: 2rem;
  margin-left: .1rem;
}
.contactdetails-container > h2 {
  margin-bottom: 1rem;
  color: var(--color-secondary-a);
  font-size: var(--fs-l-smaller);
  line-height: calc(var(--fs-l-smaller) - 10px);
}

.contactform-container {
  margin-bottom: 5rem;
  padding-top: 20px;
  position: relative;
  z-index: 2;
}
.contactform-container > p {
  text-align: center;
}
.contactform-container label {
  font-size: var(--fs-body);
  color: var(--color-secondary-c);
}
.contactform-container input:nth-child(2), input:nth-child(4), 
input:nth-child(6), textarea {
  width: 500px;
  margin-bottom: 1rem;
}
.contactform-container textarea {
  height: 400px;
  resize: none;
}
.contactform-container button {
  border: 0;
  margin-top: 3px;
  height: 40px;
  width: 100px;
  border-radius: 4px;
  background-color: var(--color-secondary-a);
  transition: .2s;
}
.contactform-container button:hover {
  cursor: pointer;
  background-color: var(--color-secondary-b);
  transition: .2s;
}

input, textarea {
  display: block;
  border-radius: 4px;
  padding: .2rem;
  padding-left: .5rem;
  padding-right: .5rem;
  color: var(--color-secondary-c);
  border: 2px solid var(--color-secondary-b);
  background-color: white;
}
input:focus, textarea:focus {
  border: 2px solid var(--color-secondary-a);
  outline: none;
}

@media (width < 1110px) {
  .contactform-container input:nth-child(2), input:nth-child(4), 
  input:nth-child(6), textarea {
    width: clamp(320px, calc(20rem + ((1vw - 3.4px) * 23.3766)), 500px);
    margin-bottom: 1rem;
  }
}
